@font-face {
    font-family: Zekton;
    src: url("/fonts/zekton.otf") format("opentype");
}

@font-face {
    font-family: Zekton;
    font-weight: bold;
    src: url("/fonts/zekton.otf") format("opentype");
}

@font-face {
    font-family: CarvingSoft;
    src: url("/fonts/MADECarvingSoftPERSONALUSE-Regular.otf") format("opentype");
}

@font-face {
    font-family: CarvingSoft;
    font-weight: regular;
    src: url("/fonts/MADECarvingSoftPERSONALUSE-Regular.otf") format("opentype");
}

@font-face {
    font-family: CarvingSoftThin;
    src: url("/fonts/MADECarvingSoftPERSONALUSE-Thin.otf") format("opentype");
}

@font-face {
    font-family: CarvingSofThint;
    font-weight: regular;
    src: url("/fonts/MADECarvingSoftPERSONALUSE-Thin.otf") format("opentype");
}